<div class="loading"></div>
<h1>Odds for match: <%= @match_id %></h1>


<ul class="match-odds">
</ul>

<script>
    document.addEventListener("DOMContentLoaded", function(){
        window.createSocket(<%= @match_id %>)    
        $(".loading").fadeOut("slow")
    });
</script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.js"></script>
